{% extends 'base.html' %}

{% block title %} Login | Elections {% endblock %}

{% block body%}
<div class="ui inverted vertical center aligned segment">
<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="item" href="/">Home</a>
    {% if request.user.is_superuser %}
    <a class="item" href="/count">Count</a>
    <a class="item" href="/admin">Admin</a>
    {% endif %}
  </div>
</div>
</div>

<div class="ui vertical stripe segment" style="text-align:center;">
  <div class="ui text container">
    <h1 class="ui huge header">Login</h1>

    {% if form.errors %}
    <div class="ui negative message">
        <div class="header">
          Error
        </div>
        <p>{{ form.errors }}
      </p>
    </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" name="button" class="ui secondary button">Login</button>
    </form>

  </div>
</div>

{% endblock %}
